<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/lib/arco/arco.min.css" />
    <link rel="stylesheet" href="/static/lib/bmbp/bmbp.css" />
    <link rel="stylesheet" href="/static/css/bmbp.css" />
</head>
<body>
<div id="app"></div>
</body>
<script>
</script>
<script src="/static/lib/react/react.production.min.js"></script>
<script src="/static/lib/react/react-dom.production.min.js"></script>
<script src="/static/lib/react/react-dom.profiling.min.js"></script>
<script src="/static/lib/arco/arco.min.js"></script>
<script src="/static/lib/arco/arco-icon.min.js"></script>
<script src="/static/lib/axios.min.js"></script>
<script src="/static/lib/http.js"></script>
<script src="/static/js/app/task/task/index.js"></script>
</html>
